<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FolderImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="DirectoryImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DirectoryImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FolderImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FolderImage.Properties.Settings>
            <setting name="_appVersion" serializeAs="String">
                <value>0.91</value>
            </setting>
        </FolderImage.Properties.Settings>
        <DirectoryImage.Properties.Settings>
            <setting name="_appVersion" serializeAs="String">
                <value>0.60</value>
            </setting>
        </DirectoryImage.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DirectoryImage.Properties.Settings>
            <setting name="_diVersion" serializeAs="String">
                <value>0.60 BETA</value>
            </setting>
            <setting name="_workPath" serializeAs="String">
                <value>DirectoryImage is a small application to organize your data. Is free of charge and was developed by a student at University of Havana. That's me. Thanks for support my idea and write me to express any related opinion.</value>
            </setting>
            <setting name="_emailAddress" serializeAs="String">
                <value>krlostoledo@gmail.com</value>
            </setting>
            <setting name="_proyectoName" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="_fechaCompilation" serializeAs="String">
                <value>11-21-2015</value>
            </setting>
            <setting name="_MostUsedPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:</string>
                        <string>D:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_Name" serializeAs="String">
                <value>DirectoryImage v0.60</value>
            </setting>
        </DirectoryImage.Properties.Settings>
        <FolderImage.Properties.Settings>
            <setting name="_diVersion" serializeAs="String">
                <value>"0.91"</value>
            </setting>
        </FolderImage.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
